<p>Loans and ODs</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>accnumber</th>
      <th>custnumber</th>
      <th>name</th>
      <th>arocode</th>
      <th>branch</th>
      <th>balance</th>
      <th>colofficer</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>john@example.com</td>
    </tr>
  </tbody>
</table>
<hr>
<p>credit cards</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>accnumber</th>
      <th>custnumber</th>
      <th>name</th>
      <th>arocode</th>
      <th>branch</th>
      <th>balance</th>
      <th>colofficer</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>john@example.com</td>
    </tr>
  </tbody>
</table>
<hr>
<p>Mcoop-cash</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>accnumber</th>
      <th>custnumber</th>
      <th>name</th>
      <th>arocode</th>
      <th>branch</th>
      <th>balance</th>
      <th>colofficer</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>john@example.com</td>
    </tr>
  </tbody>
</table>