<!--The content below is only a placeholder and can be replaced. col-md-offset-1 -->

<div class="body">
      <div class="row">
          <div class="col-md-12">
              <div class="tab" role="tabpanel">
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="active"><a href="#facilities" aria-controls="home" role="tab" data-toggle="tab">Facilities</a></li>
                      <li role="presentation"><a href="#background" aria-controls="profile" role="tab" data-toggle="tab">Background</a></li>
                      <li role="presentation"><a href="#problemdefinition" aria-controls="messages" role="tab" data-toggle="tab">Problem Definition</a></li>
                      <li role="presentation"><a href="#swot" aria-controls="messages" role="tab" data-toggle="tab">SWOT</a></li>
                      <li role="presentation"><a href="#abilitytopay" aria-controls="profile" role="tab" data-toggle="tab">Ability to pay</a></li>
                      <li role="presentation"><a href="#customerproposal" aria-controls="messages" role="tab" data-toggle="tab">Customer proposal</a></li>
                      <li role="presentation"><a href="#paymanetplan" aria-controls="messages" role="tab" data-toggle="tab">Payment plan</a></li>
                      <li role="presentation"><a href="#remedials" aria-controls="profile" role="tab" data-toggle="tab">Remedial offerings</a></li>
                      <li role="presentation"><a href="#actions" aria-controls="messages" role="tab" data-toggle="tab">Actions</a></li>
                      <li role="presentation"><a href="#collections" aria-controls="messages" role="tab" data-toggle="tab">Collections</a></li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content tabs">
                      <div role="tabpanel" class="tab-pane fade in active" id="facilities">
                          <h3>Facilities</h3>
                          <app-facilities></app-facilities>
                          </div>
                      <div role="tabpanel" class="tab-pane fade" id="background">
                          <h3>Background</h3>
                          <hr>
                           <app-background></app-background>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="problemdefinition">
                          <h3>Problem Definition</h3>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="swot">
                          <h3>SWOT</h3>
                       </div>
                        <div role="tabpanel" class="tab-pane fade" id="abilitytopay">
                            <h3>Ability to pay</h3>
                         </div>
                          <div role="tabpanel" class="tab-pane fade" id="customerproposal">
                              <h3>Customer proposal</h3>
                           </div>
                            <div role="tabpanel" class="tab-pane fade" id="paymanetplan">
                                <h3>Payment plan</h3>
                            </div>
        <div role="tabpanel" class="tab-pane fade" id="remedials">
                                  <h3>Remedial offerings</h3>
                              </div>
          <div role="tabpanel" class="tab-pane fade" id="actions">
                                    <h3>Actions</h3>
                                </div>
            <div role="tabpanel" class="tab-pane fade" id="collections">
                                      <h3>Collections</h3>
                                  </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
<router-outlet></router-outlet>
