<!--The content below is only a placeholder and can be replaced. col-md-offset-1 -->
<div class="card text-center" style="width: 100%; min-height: 50px;">
  <div class="card-body">
    <h5 class="card-title">{{firstname}}</h5>
    <p class="card-text">{{addressline}}</p>
    <p class="card-text">{{telnumber}}</p>
  </div>
</div>
<div *ngIf="showLoadingIndicator" class="spinner"></div>
<div class="body">
      <div class="row">
          <div class="col-md-12">
              <div class="tab" role="tabpanel">
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="active"><a href="#facilities" aria-controls="home" role="tab" data-toggle="tab">Facilities <span class="label label-success">0</span></a></li>
                      <li role="presentation"><a href="#background" aria-controls="profile" role="tab" data-toggle="tab">Background <span class="label label-success"><i class="fa fa-check"></i></span></a></li>
                      <li role="presentation"><a href="#problemdefinition" aria-controls="messages" role="tab" data-toggle="tab">Problem Definition <span class="label label-danger"><i class="fa fa-times"></i></span></a></li>
                      <!--<li role="presentation"><a href="#" routerLink="problemdefinition" role="tab" data-toggle="tab">Problem Definition</a></li>-->
                      <li role="presentation"><a href="#swot" aria-controls="messages" role="tab" data-toggle="tab">SWOT <span class="label label-danger"><i class="fa fa-times"></i></span></a></li>
                      <li role="presentation"><a href="#abilitytopay" aria-controls="profile" role="tab" data-toggle="tab">Ability to pay <span class="label label-danger"><i class="fa fa-times"></i></span></a></li>
                      <li role="presentation"><a href="#customerproposal" aria-controls="messages" role="tab" data-toggle="tab">Customer proposal <span class="label label-danger"><i class="fa fa-times"></i></span></a></li>
                      <li role="presentation"><a href="#paymanetplan" aria-controls="messages" role="tab" data-toggle="tab">Payment plan <span class="label label-danger">0</span></a></li>
                      <li role="presentation"><a href="#remedials" aria-controls="profile" role="tab" data-toggle="tab">Remedial offerings <span class="label label-danger"><i class="fa fa-times"></i></span></a></li>
                      <li role="presentation"><a href="#actions" aria-controls="messages" role="tab" data-toggle="tab">Actions <span class="label label-danger"><i class="fa fa-times"></i></span></a></li>
                      <li role="presentation"><a href="#collections" aria-controls="messages" role="tab" data-toggle="tab">Collections </a></li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content tabs">
                      <div role="tabpanel" class="tab-pane fade in active" id="facilities">
                          <h3>Facilities</h3>
                          <app-facilities></app-facilities>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="background">
                           <app-background></app-background>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="problemdefinition">
                          <app-problemdefinition></app-problemdefinition>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="swot">
                          <app-swot></app-swot>
                       </div>
                        <div role="tabpanel" class="tab-pane fade" id="abilitytopay">
                            <app-abilitytopay></app-abilitytopay>>
                         </div>
                          <div role="tabpanel" class="tab-pane fade" id="customerproposal">
                              <app-customerproposal></app-customerproposal>
                           </div>
                            <div role="tabpanel" class="tab-pane fade" id="paymanetplan">
                                <app-paymentplan></app-paymentplan>
                            </div>
        <div role="tabpanel" class="tab-pane fade" id="remedials">
                                  <app-remedialofferings></app-remedialofferings>
                              </div>
          <div role="tabpanel" class="tab-pane fade" id="actions">
                                    <app-actions></app-actions>
                                </div>
            <div role="tabpanel" class="tab-pane fade" id="collections">
                                      <app-collections></app-collections>
                                  </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
<router-outlet></router-outlet>
